* {
    text-size-adjust: none !important;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-overflow-scrolling: touch !important;

    font-smoothing: antialiased;

    -webkit-appearance: none;


    font-style: normal;
}



@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-sans-kr-v12-korean-regular.eot');
    /* IE9 Compat Modes */
    src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
        url('../fonts/noto-sans-kr-v12-korean-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/noto-sans-kr-v12-korean-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/noto-sans-kr-v12-korean-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/noto-sans-kr-v12-korean-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/noto-sans-kr-v12-korean-regular.svg#NotoSansKR') format('svg');
    /* Legacy iOS */
}

/* noto-sans-kr-700 - korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/noto-sans-kr-v12-korean-700.eot');
    /* IE9 Compat Modes */
    src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
        url('../fonts/noto-sans-kr-v12-korean-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/noto-sans-kr-v12-korean-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/noto-sans-kr-v12-korean-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/noto-sans-kr-v12-korean-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/noto-sans-kr-v12-korean-700.svg#NotoSansKR') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'GT Alpina';
    src: local(GT Alpina);
    /* 외부자원 참조 전에 시스템 글꼴을 우선 참조 */
    src: url(font/GT-Alpina-Regular.woff2);
    /* here you go, IE */
    src: local(@), url(/font/GT-Alpina-Regular.woff2) format('woff2'),
        /* everyone else take this */
        url(font/GT-Alpina-Regular.woff2);
    /* 다섯번째 */
}

@font-face {
    font-family: 'GT America';
    src: local(GT America);
    /* 외부자원 참조 전에 시스템 글꼴을 우선 참조 */
    src: url(/font/GT-America-Standard-Regular.woff2);
    /* here you go, IE */
    src: local(@), url(/font/GT-America-Standard-Regular.woff2) format('woff2'),
        /* everyone else take this */
        url(/font/GT-America-Standard-Regular.woff2);
    /* 다섯번째 */
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
    color: #000;
}

pre {
    margin: 0;
}

html {
    height: 100%;
}


:lang(ko) {
    font-family: 'Noto Sans KR';
}

:lang(en) {
    font-family: 'GT America', sans-serif;
}

p {
    padding: 0px;
    margin: 0px;
}


body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*    overflow: hidden;*/
}

body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

header {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50vh;
    overflow: hidden;
    padding: 30px;
    background: white;
    z-index: 2;
}

.info-header {
    height: 145px;
    background: #f0eda1;
}

.logo {
    width: 50vw;
    height: 50%;
    position: relative;
    left: 0;
    top: 0;

}


.logo img {
    left: 0;
    height: 100%;
}

.operationcon {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: auto;
    width: 66%;
    left: 30px;
    bottom: 30px;
}

.operation {
    width: 50%;
}

.imgbtn {
    position: absolute;
    width: 33%;
    top: 0;
    left: 33%;
    padding: 30px;
    opacity: 0;
}

.info-header .imgbtn {
    opacity: 1;
}

.imgbtn span {
    display: block;
    font-family: 'GT America', sans-serif;
    right: 0;
}

#imgbtn {
    font-family: 'GT America', sans-serif;
    font-size: 1em;
}

input {
    text-decoration: none;
    border: none;
    padding: 0;
    background: none;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    width: 280px;
    height: auto;
    bottom: 30px;
    right: 30px;
}

.navicon {
    width: 60px;
    display: flex;
    flex-wrap: wrap;
}

.navicon span {
    width: 100%;
    display: block;
    text-align: center;
    font-family: 'GT Alpina', serif;
    font-size: 24px;
}

.navicon img {
    width: 100%;
    max-height: 80px;
}

.wrapper {
    width: 100%;
    height: 100%;
    max-height: calc(100% - 145px);
    margin-top: 50vh;
    bottom: 0;
    padding: 0 30px 0 30px;
}

.info-wrapper {
    width: 100%;
    height: calc(100% - 145px);
    padding: 0 30px 30px 30px;
    position: absolute;
    bottom: 0;
    background: #f0eda1;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow-y: hidden;
}




.menucon {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: scroll;
    overflow-x: hidden;
    border-right: 1px solid black;
}

.menucon::-webkit-scrollbar {
    width: 20px;
}

.menucon::-webkit-scrollbar-thumb {
    background: black;
}

.menu1 {
    width: 50%;
    height: 100%;
    padding-right: 30px;
}



.menu2 {
    width: 50%;
    height: 100%;
    padding-left: 30px;
    padding-right: 10px;
}

.menu2 .dish:nth-last-child(1) {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: none;
}


.order-box {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 0 30px 0 30px;
    text-align: center;
    display: grid;
}

.order-box::-webkit-scrollbar {
    width: 20px;
}

.order-box::-webkit-scrollbar-thumb {
    background: black;
}

.order-box.info {
    width: 33%;
    border-left: solid 1px black;
}



.dish {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 15px;
    padding-bottom: 30px;
    border-bottom: black solid 1px;
    margin-bottom: 30px
}

.add {
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    word-break: keep-all;
}

.add.drink {
    word-break: normal;
}

.drink-name {
    text-overflow: ellipsis;
    word-break: normal;
    overflow: hidden;
}

.long-name {
    text-overflow: ellipsis;
    word-break: keep-all;
}

.add p:nth-child(2) {
    text-align: right;
}

.add-sorting {
    display: inline-block;
    width: auto;
    padding: 0 4px;
    margin-left: 4px;
    border: black solid 1px;
    text-align: center;
    white-space: nowrap;
    font-size: 0.5em;
}

.add span[lang=en] {
    font-family: 'GT Alpina', serif;
    white-space: nowrap;
}

.title {
    font-size: 32px;
    line-height: 120%;
}

.title span[lang="en"] {
    font-family: 'GT Alpina', serif;
    white-space: nowrap;
}

.sorting div {
    display: inline;
    width: 100%;
    padding: 3px 6px;
    border: black solid 1px;
    text-align: center;
    white-space: nowrap;
    line-height: 240%;
}

.price span {
    font-size: 0.8em;
}

.price span[lang=en] {
    font-family: 'GT Alpina', sans-serif;
    white-space: nowrap;
}

.ingredients {
    font-size: 0.8em;
}

.ingredients span[lang="en"] {
    font-family: 'GT Alpina', serif;
}

.menu-pictures img {
    width: 100%;
}

.imghide {
    display: none;
}

.source {
    padding-bottom: 30px;
}

.order-des {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    margin-bottom: 120px;
}

.order-des .title {
    margin-bottom: 30px;
}

.order-des img {
    margin: 0 auto;
    width: 60%;
}

.order {
    font-size: 72px;
    letter-spacing: -3px;
}

.menu {
    display: none;
    font-size: 72px;
    letter-spacing: -3px;
}

.fake-border {
    width: 1px;
    height: 100%;
    position: fixed;
    background: black;
    z-index: 1;
    left: 33.3%;
}


.info-col {
    width: 32%;
    height: 100%;
    word-break: keep-all;
}

.info-col.first {
    margin-right: 30px;
}

.info-col.middle {
    margin-right: 30px;
}




.info-col.first img {
    align-self: center;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;

}

.info-col.middle img {
    width: 140px;
}

.info-op {
    width: 100%;
    position: absolute;
    bottom: 30px;
    font-size: 0.8em;
    white-space: inherit;
}

.info-op div {
    width: inherit;
}

.info-op .kor {
    margin-bottom: 2em;
}

.slogans img {
    margin-bottom: 120px;
}

@media screen and (min-width: 1511px) and (max-width: 1900px) {



    .operationcon {
        font-size: 0.8em;
    }

}


@media screen and (min-width: 1151px) and (max-width: 1510px) {


    .logo {
        width: 50%;
        height: 40%;
        position: relative;
        left: 0;
        top: 0;

    }

    .logo img {
        left: 0;
        height: 100%;
    }


    .operationcon {
        width: 100%;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: absolute;
        width: 280px;
        height: 86px;
        top: 30px;
        right: 30px;
    }



}

@media screen and (min-width: 901px) and (max-width: 1150px) {

    .logo {
        width: 300px;
        height: 100px;
        position: absolute;
        left: 30px;
        top: 15px;

    }


    .logo img {
        top: 0;
        left: 0;
        width: 100%;
    }


    .operationcon {
        width: 100%;
        flex-wrap: wrap;
        font-size: 0.8em;
    }

    .operation {
        width: 100%;
    }

    .operation:nth-child(1) {
        margin-bottom: 30px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: absolute;
        width: 280px;
        height: 86px;
        top: 30px;
        right: 30px;
    }

    .wrapper {
        width: 100%;
        height: auto;
        max-height: calc(100% - 145px);
        margin-top: 50vh;
        bottom: 0;
        padding: 0 30px 0 30px;
    }

    .container {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        overflow-y: hidden;
    }

    .menucon {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        overflow-x: hidden;
        order: 2;
        float: left;
        border-right: none;
    }

    .menucon::-webkit-scrollbar {
        width: 0;
    }

    .menucon::-webkit-scrollbar-thumb {
        background: black;
    }

    .menu1 {
        width: 50%;
        height: auto;
        padding-right: 30px;
        border-right: 1px solid black;
    }



    .menu2 {
        width: 50%;
        height: auto;
        padding-left: 30px;
        padding-right: 0px;
    }

    .fake-border {
        display: none;
    }

    .order-box {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        text-align: center;
        display: grid;
        order: 1;
        float: left;
        padding: 0;
    }

    .order-box::-webkit-scrollbar {
        width: 0px;
    }

    .menucon::-webkit-scrollbar-thumb {
        background: black;
    }

    .menu {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 72px;
        letter-spacing: -3px;
        margin-bottom: 30px;
    }

    .info-wrapper {
        width: 100%;
        height: auto;
        max-height: calc(100% - 145px);
        padding: 0 30px 30px 30px;
        bottom: 0;
        background: #f0eda1;
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
    }


    .info-col {
        width: 100%;
        height: auto;
        word-break: keep-all;
        float: left;
    }

    .info-col.first {
        margin-right: 0px;
        margin-bottom: 30px;
        order: 2;
    }

    .info-col.middle {
        margin-right: 0px;
        order: 3;
    }

    .order-box.info {
        width: 100%;
        height: auto;
        border-left: none;
        order: 1;
    }

    .info-op {
        width: 100%;
        position: relative;
        bottom: 0px;
        font-size: 0.8em;
        white-space: inherit;
        margin-top: 30px;
    }

    .info-op div {
        margin-bottom: 0;
        width: 50%;
        float: left;
    }

    .info-op .kor {
        margin-bottom: 0;
    }



}

@media screen and (min-width: 0px) and (max-width: 900px) {



    header {
        width: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        height: 120px;
        overflow: hidden;
        padding: 20px;
        background: white;
        z-index: 2;
    }
    
    .info-header {
    height: 120px;
    background: #f0eda1;
}

    .wrapper {
        width: 100%;
        height: auto;
        max-height: calc(100% - 120px);
        position: relative;
        padding: 0 20px 0 20px;
        bottom: 0;
    }

    .container {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        overflow-y: hidden;
    }

    .menucon {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        overflow-x: hidden;
        order: 2;
        float: left;
        border-right: none;
    }

    .menucon::-webkit-scrollbar {
        width: 0;
    }

    .menucon::-webkit-scrollbar-thumb {
        background: black;
    }

    .menu {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 72px;
        letter-spacing: -3px;
        margin-bottom: 30px;
    }

    .menu1 {
        width: 100%;
        height: auto;
        padding-right: 0px;
    }

    .title span[lang="ko"] {
        white-space: normal;
    }

    .title span[lang="en"]::before {
        content: "\A";
        white-space: pre
    }

    .title span[lang="en"] {
        white-space: normal;
    }

    .sorting {
        flex-wrap: wrap;
    }



    .menu2 {
        width: 100%;
        height: auto;
        padding-left: 0px;
        padding-right: 0px;
    }

    .fake-border {
        display: none;
    }

    .order-box {
        width: 100%;
        height: auto;
        overflow-y: scroll;
        text-align: center;
        display: grid;
        order: 1;
        float: left;
        padding: 0;
    }


    .order-box::-webkit-scrollbar {
        width: 0px;
    }

    .order-des {
        height: auto;
        margin-bottom: 0px;
    }

    .menucon::-webkit-scrollbar-thumb {
        background: black;
    }



    .logo {
        width: 150px;
        height: 50px;
        position: absolute;
        left: 20px;
        top: 10px;

    }


    .logo img {
        top: 0;
        left: 0;
        width: 100%;
    }


    .operationcon {
        display: none;
    }

    .operation {
        width: 100%;
    }

    .operation:nth-child(1) {
        margin-bottom: 30px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 140px;
        height: 43px;
        top: 15px;
        right: 20px;
    }

    .navicon {
        width: 30px;
        display: flex;
        flex-wrap: wrap;
    }

    .navicon span {
        width: 100%;
        display: block;
        text-align: center;
        font-family: 'GT Alpina', serif;
        font-size: 12px;
    }

    .navicon img {
        width: 100%;
        max-height: 80px;
    }

    .imgbtn {
        position: relative;
        width: 100%;
        top: 60px;
        left: 0;
        padding: 0px;
        opacity: 1;
    }

    .fake-border {
        display: none;
    }

    .imgbtn span {
        display: block;
        width: 50%;
        text-align: center;
        font-family: 'GT America', sans-serif;
        right: 0;
        font-size: 12px;
        float: left;
    }

    #imgbtn {
        display: block;
        width: 50%;
        float: left;
        font-family: 'GT America', sans-serif;
        font-size: 12px;
    }

    .slogans {
        display: none;
    }

    .info-wrapper {
        width: 100%;
        height: auto;
        max-height: calc(100% - 120px);
        padding: 0 30px 30px 30px;
        bottom: 0;
        background: #f0eda1;
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
    }


    .info-col {
        width: 100%;
        height: auto;
        word-break: keep-all;
        float: left;
    }

    .info-col.first {
        margin-right: 0px;
        margin-bottom: 30px;
        order: 2;
    }

    .info-col.middle {
        margin-right: 0px;
        order: 3;
    }

    .order-box.info {
        width: 100%;
        height: auto;
        border-left: none;
        order: 1;
        margin-bottom: 30px;
    }

    .info-op {
        width: 100%;
        position: relative;
        bottom: 0px;
        font-size: 0.8em;
        white-space: inherit;
        margin-top: 30px;
    }

    .info-op div {
        margin-bottom: 0;
        width: 100%;
        float: none;
    }

    .info-op .kor {
        margin-bottom: 30px;
    }
    
    .order-box.info .order-des {
        margin-bottom: 30px;
    }
    
    .slogans.info {
        display: block;
    }
    
    .slogans.info img {
        margin-bottom: 30px;
    }

}
